* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    margin: 0 auto;
}

ul,
li {
    list-style: none;
}

input,
a {
    outline: none;
    border: none;
    text-decoration: none;
}
